{#
/**
 * @file
 * Theme implementation of importer upload stages in accordion layout 
 * similar to JQuery Accordion API.
 *
 * Available variables:
 */
#}

{{ attach_library('trpcultivate_phenotypes/trpcultivate-phenotypes-style-accordion') }}
{{ attach_library('trpcultivate_phenotypes/trpcultivate-phenotypes-script-accordion') }}
<div>
  <p> FILE DESCRIPTION / INSTRUCTIONS HERE</p>
</div>

<div id="tcp-accordion-stages">
  {% for stage_no,stage_title in data.stages %}
  <div class="tcp-stage-accordion-title">Stage {{stage_no}}: {{stage_title}}</div>
  <div class="tcp-stage-accordion-content-panel tcp-stage-accordion-content-off">    
    <p>Stage text: Lorem ipsum dolor sit amet.</p>
    STAGE FIELD ELEMENTS
  </div>
  {% endfor %}
</div>