{#
/**
 * @file
 * Theme ontology configuration header instructions.
 * 
 * Available variables:
 * - data.section: which section of the page/form to render the header instruction.
 * - data.link_01: internal/external link number 1. (embed a link to instruction).
 * - data.link_02: internal/external link number 2. (embed a link to instruction).
 */
#}

{% if data.section == 'ontology' %}
<div>
  <ul>
    <li>
      <u>Trait Vocabulary:</u>
      <p>
        A container of terms where each term is a phenotypic trait that can be measured in your species of interest. 
        This controlled vocabulary should be specific to a given genus and each term will become a trait page on your Tripal site. 
        If you do not already have a trait vocabulary, you can create it using vocabulary loader {{data.link_01}} upfront and/or automatically on 
        upload of phenotypic data.
      </p>
    </li>

    <li>
      <u>Associated Database:</u>
      <p>
        Chado requires a "database" container to be associated with all controlled vocabularies. 
        Please select the "database" container you would like to be associated with your trait vocabulary. 
        If needed, create one using vocabulary loader {{data.link_01}}.
      </p>
    </li>

    <li>
      <u>Crop Ontology:</u>
      <p>
        Our experience with breeders has led us to recommend using the trait names your breeder(s) already use in the Trait Vocabulary 
        and then linking them to a more generic crop ontology such as those provided by {{data.link_02}} to facilitate sharing. If you decide to go this 
        route, you can set the species specific crop ontology here and on upload suitable terms will be suggested based on pattern matching.
      </p>
    </li>
  </ul>
</div>
{% endif %}


{% if data.section == 'terms' %}
<div>
  <ul>
    <li>
      <u>Flexible Terms:</u>
      <p>
        Chado uses controlled vocabularies extensively to allow for flexible storing of data.
        As such, this module supports that flexibility to ensure that you have the ability to choose the terms that
        best support your data.
      </p>
    </li>
    
    <li>
      <u>Pre-selected Configuration Values:</u>
      <p>
        We have helpfully selected what we think are the best ontology terms below. Thus the following configuration is
        completely optional, although it is highly recommended to review our choices.
      </p>
    </li>
  </ul>
</div>
{% endif %}