{{ attach_library('trpcultivate_phenotypes/style-upload-stages') }}
<div id="tcp-upload-stages">
  <div>Upload Stage 1 of 3 : Upload Data File (<a href="#" class="tcp-toggle-pull-window">Need help?</a>)</div>
  <div> 
    <div class="stage-current">&nbsp;</div>
    <div class="stage-upcoming">&nbsp;</div>
    <div class="stage-upcoming">&nbsp;</div>
  </div>
</div>

<div id="tcp-upload-stages-describe" class="tcp-pull-window">
  Lorem Ipsum
</div>