.tcp-trait-combo def {
  font-weight: 500;
  display: block;
}

.tcp-trait-combo > div {
  border-left: 3px solid #CCCCCC;
  padding-left: 20px;
}

.tcp-trait-combo input[type="text"] {
  width: 85%;
}

.tcp-trait-combo def:last-child,
.tcp-trait-combo div def:not(first-child) {
  font-size: 0.9em;
  margin-top: 20px;
}

.tcp-trait-combo small {
  color: #CCCCCC;
  font-style: italic;
}

/* Combo icons */
.tcp-pheno-required,
.tcp-pheno-shared,
.tcp-pheno-collected,
.tcp-pheno-archived {
  background-repeat: no-repeat;
  height: 16px;
  padding: 0 7px;
  width: 16px;
}

.tcp-pheno-required {
  background-image: url(icons/star_require.svg);
  filter: invert(0);
}

.tcp-pheno-shared {
  background-image: url(icons/hand_share.svg);
}

.tcp-pheno-collected {
  background-image: url(icons/ruler_collect.svg);
}

.tcp-pheno-archived {
  background-image: url(icons/box_archive.svg);
}

@media (prefers-color-scheme: dark) {
  .tcp-pheno-required,
  .tcp-pheno-shared,
  .tcp-pheno-collected,
  .tcp-pheno-archived {
    filter: invert(1) brightness(2);
  }
}