.tcp-trait-combo def {
  font-weight: 500;
  display: block;
}

.tcp-trait-combo > div {
  border-left: 3px solid #CCCCCC;
  padding-left: 20px;
}

.tcp-trait-combo input[type="text"] {
  margin: 10px 2% 25px 0;
  width: 75%;
}

.tcp-trait-combo input:last-child {
  margin: 0 0 0 3%;
}

.tcp-trait-combo def:last-child,
.tcp-trait-combo div def:not(first-child) {
  font-size: 0.9em;
  margin-top: 20px;
}

.tcp-trait-combo small {
  color: #CCCCCC;
  font-style: italic;
}

/* Preference on the close button render array in the dialog window. */
.tcp-no-close .ui-dialog-titlebar-close {
  display: none;
  pointer-events: none;
}
