/* Pull window */
.tcp-pull-window {
  border-bottom: 1px solid #CCCCCC;
  clear: both;
  cursor: pointer;
  display: none;
  margin: 20px 0;
  position: relative;
  padding: 10px 0 20px 0;
  text-align: left;
  
  -moz-box-shadow:    0 5px 7px -9px #333333;
  -webkit-box-shadow: 0 5px 7px -9px #333333;
  box-shadow:         0 5px 7px -9px #333333;
}