/**
 * @file
 * Style experiment configuration.
 */

 #tcp-experiment-traits-summary-table {
  cursor: pointer;
 }

/* Trait-method-combo column */
#tcp-experiment-traits-summary-table td:nth-child(2) {
  width: 75%;
}

/* Remove column */
#tcp-experiment-traits-summary-table td:last-child {
  text-align: center;
  width: 1%;
}

/* Trait-method-combo */
#tcp-experiment-traits-summary-table td {
  vertical-align: top;
}

/* Organize traits by genus by shading */
.tcp-group-shade-dark {
  background-color: light-dark(#F7F7F7, #333333);
}

.tcp-group-shade-light {
  background-color: light-dark(#FFFFFF, #4A4A4C);
}

/* Organize traits by genus by horizontal line */
.tcp-group-border {
  border-top: 5px solid #DADADA;
}
