/**
 * @file
 * Style style stage accordion.
 */

/* Stage Title Panel */
.tcp-stage {
  background-color: #EAEAEA;
  border: 0;
  color: #333333;
  cursor: pointer;
  margin: 1px 0 0 0;
  padding: 20px;
  text-align: left;
  transition: 0.7s;
  width: inherit;
}

/* Stage Content Panel */
div.tcp-stage + div {
  background-color: #FFFFFF;
  display: none;
  padding: 10px;
}

.tcp-stage-active, 
.tcp-stage:hover {
  background-color: #DADADA;
}

.tcp-current-stage {
  font-weight: bold;
}

.tcp-current-stage::before {
  content: '* ';
}