/**
 * @file
 * Style header notes, upload stage indicator in an implementation of 
 * Tripal Importer Plugin.
 *
 */

/* Importer notes */
#tcp-header-notes {
  font-weight: 300;
  list-style-position: inside;
  margin: 0 0 10px 0;
}

#tcp-header-notes p {
  margin-top: 0;
}

.stage-current, .stage-upcoming {
  flex: 1;
  height: 10px;
}

.stage-current {
  background-color: #000000;
  border-bottom: 2px solid green;
}

.stage-upcoming {
  background-color: #EAEAEA;
}