/**
 * @file
 * Style experiment configuration summary table.
 */

#tcp-experiment-traits-summary-table {
  cursor: pointer;
}

#tcp-experiment-traits-summary-table td {
  vertical-align: top;
}

/* Trait-method-combo column */
#tcp-experiment-traits-summary-table td:nth-child(2) {
  width: 75%;
}

/* Remove column */
#tcp-experiment-traits-summary-table td:last-child {
  text-align: center;
  width: 1%;
}

/* Organize traits by genus by horizontal line */
.tcp-group-border {
  border-top: 8px solid #DADADA;
}

/* Add trait popup window */
#tcp-add-trait-form {
  padding-top: 20px;
}
