/**
 * @file
 * Style experiment configuration summary table.
 */

#tcp-experiment-traits-summary-table {
  cursor: pointer;
}

#tcp-experiment-traits-summary-table td {
  vertical-align: top;
}

/* Trait-method-combo column */
#tcp-experiment-traits-summary-table td:nth-child(2) {
  width: 75%;
}

/* Remove column */
#tcp-experiment-traits-summary-table td:last-child {
  text-align: center;
  width: 1%;
}

/* Organize traits by genus by horizontal line */
.tcp-group-border {
  border-top: 8px solid #DADADA;
}

/* Add trait popup window */
#tcp-search-fieldset .details-wrapper {
  align-items: center;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  margin-bottom: 0;
  margin-top: 0;
}

#tcp-search-fieldset .details-wrapper .form-item {
  display: flex;
  flex-direction: column;
  padding-top: 0;
  padding-bottom: 5px;
  padding-left: 10px;
}

#tcp-trait {
  width: 100%;
}

/* Copy SVG from FA and load it to online SVG URL encoder tool. */
.tcp-autocomplete {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3C!--!Font Awesome Free v7.1.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--%3E%3Cpath d='M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376C296.3 401.1 253.9 416 208 416 93.1 416 0 322.9 0 208S93.1 0 208 0 416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z'/%3E%3C/svg%3E") no-repeat 98% / 20px 20px !important;
}
